
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333; 
    transition: background-color 0.3s, color 0.3s; 
}


body.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
}


#app {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; 
}


body.dark-mode #app {
    background-color: #1e1e1e; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


#instructions {
    text-align: center;
    margin-bottom: 20px;
}


#search-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}


body.dark-mode #search-input {
    border-color: #444; 
    background-color: #333; 
    color: white; 
}


button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


body.dark-mode button {
    background-color: #0056b3;
}


#results, #no-results, #favorites {
    margin-top: 20px;
}


.product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}


body.dark-mode .product-item {
    background-color: #333; 
    color: #fff; 
    border-color: #444; 
}


#featured-products-container, #results, #favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}


#featured-products-container .product-item,
#results .product-item,
#favorites .product-item {
    flex: 0 1 calc(25% - 20px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


body.dark-mode #featured-products-container .product-item,
body.dark-mode #results .product-item,
body.dark-mode #favorites .product-item {
    background-color: #444; 
}


.product-details {
    max-width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
}


body.dark-mode .product-details {
    background-color: #333; 
    color: white; 
    border-color: #444; 
}


.product-details p {
    margin: 0; 
    padding: 5px 0; 
}


@media (max-width: 768px) {
    #featured-products-container .product-item,
    #results .product-item,
    #favorites .product-item {
        flex: 0 1 calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    #featured-products-container .product-item,
    #results .product-item,
    #favorites .product-item {
        flex: 0 1 100%; 
    }
}
